/* style.css -- style-sheet for basic_monitor_test
 * Monitor test
 * khaz
 * 2026-08-29 13:01:13.624331
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

#info {
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
  margin: 3rem;
  pointer-events: none; /* To prevent cursor reaction for text */
}

span#hex-val {background: rgba(255, 255, 255, 0.2); }

.grid-text {
      font-size: 80px;
      font-weight: 900;
      text-transform: uppercase;

      /* 1. Setting text color transparent */
      color: transparent;

      /* 2. Drawing white background with black grid */
      background-color: #ffffff; /* White background for characters */
      background-image: 
        linear-gradient(to right, #000000 2px, transparent 2px),
        linear-gradient(to bottom, #000000 2px, transparent 2px);

      /* 3. Text grid size */
      background-size: 9px 9px;

      /* 4. Croppint background only to the shape of characters */
      -webkit-background-clip: text;
      background-clip: text;
    }
